.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}
.pagination a{
    text-decoration: none;
    border: 1px solid rgb(167, 25, 112);
    padding: 2px 8px;
    cursor: pointer;
    transition: background-color 2s;
    color: rgb(213, 30, 81);
}
.pagination a:hover{
    background-color: lightgreen;
    color: lightyellow;
}
.pagination a:active{
    color:#d81717
}
.pagination a:first-child{
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.pagination a:last-child {
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
        }
.page-active{
    background-color: lightgreen;
}