<!DOCTYPE html>
<html dir="rtl">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="box d-flex justify-content-center align-items-center flex-column">
            <h3 class="my-2">با تشکر از ثبت نام شده در سایت ایران تیکت </h3>

            <pre class="mt-2">
                <p style="color: green">ایمیل فعالسازی حساب شما به  {{ email }} ارسال شد. </p>
                <p class="mt-2">برای تکمیل فرآیند ثبت نام لطفا ایمیل خود را چک کنید.</p>
            </pre>

            <a href="{% url 'home' %}">
                <button class="btn btn-secondary">خانه</button>
            </a>

        </div>
    </div>
</body>
</html>