<!DOCTYPE html>
{% load static %}
<html lang="fa" dir="rtl">
  <head>
    <!-- meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- meta tags -->

    <!-- styles -->

    <!-- bootstrap .css file -->
    <link rel="stylesheet" href="{% static 'styles/bootstrap.css' %}" />
    <!-- bootstrap .css file -->

    <!-- custom .css files -->
    <link rel="stylesheet" href="{% static 'styles/fonts.css' %}" />

    <!-- custom .css files -->

    <!-- styles -->

    <title>فعال سازی اکانت | Account activation</title>
  </head>

  <body>
    <div class="container mt-5">
      <div class="row">
        <div class="col-3 mx-auto">
          <img src="{% static 'assets/images/email.png' %}" alt="" class="img-fluid" />
        </div>
      </div>
      <div class="row justify-content-center my-5">
        <div class="col">
          <h4 class="text-center">
            ایمیل اکانت خود جهت دریافت لینک بازنشانی رمز عبور را وارد کنید
          </h4>
        </div>
        <br /><br /><br />
        <form method="post">
            {% csrf_token %}
          <div class="row justify-content-center">
            <div class="col-md-6 col">
              <div class="form-floating mb-3">
                  {{ form.email }}
                <label for="floatingPassword"
                  ><span>
                    <img
                      src="{% static 'assets/icons/at.svg' %}"
                      alt=""
                      class="icon"
                    /> </span
                  ><span class="fs-5 fw-bold">ایمیل</span></label
                >
                  {% for error in form.email.errors %}
                      <p class="my-2 text-danger">{{ error }}</p>
                  {% endfor %}
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-md-6 col-12 text-center mt-3">
                <button
                  class="btn btn-lg rounded-pill btn-primary w-100 fw-bold"
                >
                  ارسال ایمیل
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <!-- bootsrap .js file -->
    <script src="{% static 'scripts/bootstrap.js' %}"></script>
    <!-- bootsrap .js file -->
  </body>
</html>
