<!DOCTYPE html>
{% load static %}
<html lang="fa" dir="rtl">
  <head>
    <!-- meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- meta tags -->

    <!-- styles -->

    <!-- bootstrap .css file -->
    <link rel="stylesheet" href="{% static 'styles/bootstrap.css' %}" />
    <!-- bootstrap .css file -->

    <!-- custom .css files -->
    <link rel="stylesheet" href="{% static 'styles/fonts.css' %}" />

    <!-- custom .css files -->

    <!-- styles -->

    <title>فعال سازی اکانت | Account activation</title>
  </head>

  <body>
    <div class="container mt-5">
      <div class="row">
        <div class="col-3 mx-auto">
          <img src="{% static 'assets/images/email.png' %}" alt="" class="img-fluid" />
        </div>
      </div>
      <div class="row my-5">
        <div class="col-12">
          <h4 class="text-center">
            ایمیلی حاوی لینک فعال سازی اکانت شما برای شما ارسال شد
          </h4>
        </div>
        <br /><br /><br />
        <div class="col-12">
          <h5 class="text-center text-muted">
            در صورتی که ایمیلی برایتان ارسال نشده بود ، پوشه spam را چک کنید
          </h5>
        </div>
         <br><br>
          <div class="row">
              <div class="col text-center">
                  <a href="{% url 'account:login' %}">
                      <button class="btn btn-lg btn-primary">ورود به سایت</button>
                  </a>
              </div>
      </div>
      </div>
    </div>
    <!-- bootsrap .js file -->
    <script src="{% static 'scripts/bootstrap.js' %}"></script>
    <!-- bootsrap .js file -->
  </body>
</html>
