<!DOCTYPE html>
{% load static %}
<html lang="fa" dir="rtl">
  <head>
    <!-- meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- meta tags -->

    <!-- styles -->

    <!-- bootstrap .css file -->
    <link rel="stylesheet" href="{% static 'styles/bootstrap.css' %}" />
    <!-- bootstrap .css file -->

    <!-- custom .css files -->
    <link rel="stylesheet" href="{% static 'styles/fonts.css' %}" />
    <link rel="stylesheet" href="{% static 'styles/login-signup.css' %}" />
    <!-- custom .css files -->

    <!-- styles -->

    <title>Signup | ثبت نام</title>
  </head>

  <body class="bg bg-signup">
    <!-- singup section -->
    <section class="mx-4 my-4">
      <div
        class="container bg-light form-login-signup border border-5 rounded"
        id="signup-form"
      >
        <div class="row align-items-center justify-content-around">
          <div class="col-md-5">
            <h4 class="text-center fw-bold my-4">فراموشی رمز عبور</h4>
            <!-- signup form -->
            <form method="post" id="signup-form">
                {% csrf_token %}
              <div class="form-floating my-3">
                <!-- <input
                  type="email"
                  class="form-control"
                  id="email"
                  name="email"
                  placeholder="name@example.com"
                  required
                /> -->
                {{ form.email }}
                <label for="floatingInput" class="fw-bold"
                  ><span
                    ><img
                      src="{% static 'assets/icons/at.svg' %}"
                      class="icon"
                      alt="" /></span
                  >ایمیل</label
                >
                  {% for error in form.email.errors %}
                      <p class="my-2 text-danger">{{ error }}</p>
                  {% endfor %}
              </div>
                            <div class="row my-5">
                <div class="col-md-5 my-4 my-md-0">
                  <button
                    class="btn btn-dark fw-bold w-100 fs-5 p-2"
                    type="submit"
                    name="signup"
                    id="submit-btn"
                  >
                    ارسال ایمیل
                  </button>
                </div>
              </div>
            </form>

            <!-- signup form -->
          </div>

          <!-- image section -->
          <div class="col-md-5">
            <img
              src="{% static 'assets/images/signup-image.svg' %}"
              alt=""
              class="img-fluid mx-4"
            />
          </div>
          <!-- image section -->
        </div>
      </div>
    </section>
    <!-- bootstrap .js file -->
    <script src="{% static 'scripts/bootstrap.js' %}"></script>
  </body>
</html>
