<!DOCTYPE html>
{% load static %}
<html lang="fa" dir="rtl">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Required meta tags -->

    <link rel="stylesheet" href="{% static 'styles/bootstrap.css' %}" />
    <link rel="stylesheet" href="{% static 'styles/fonts.css' %}" />
    <link rel="stylesheet" href="{% static 'styles/dashboard.css' %}" />
      <link rel="stylesheet" href="{% static 'styles/pagination.css' %}" />
    <title>Dashboard | دشبورد</title>
  </head>

  <body>
    <section class="container-fluid mb-2">
      <div class="row flex-wrap">
        <!-- sidebar -->
        {% include 'Main/user-aside.html' %}
        <!-- sidebar -->

        <div class="col">
          <!-- welcome to user part -->
          <div class="row justify-content-between align-items-center shadow-sm bg-color px-3">
            <div class="col-4 p-4">
              <span class="text-decoration-none">
                <span
                  ><img
                    src="{% static 'assets/icons/person-check.svg' %}"
                    class="icon"
                    alt=""
                /></span>
                <span class="fw-bold" id="username">{{ request.user }}</span>
                <span>خوش آمدید</span>
              </span>
            </div>
            <div class="col-3" style="margin-left: 0px">
                <!-- header serach bar -->
                {% include 'Main/search-form.html' %}
                <!-- header serach bar -->
            </div>

          </div>
          <!-- welcome to user part -->


            <!-- table part -->
          <div class="mt-3 row" style="max-width: 84.1vw">
            <div class="col" style="height: 500px; overflow: auto">
              <div class="row text-center py-3 fw-bold">
                <h3>تیکت های شما</h3>
              </div>
              {% if tickets %}
                  <div class="row p-3">
                <!-- table of datas -->
                <div class="table-responsive">
                  <table
                    class="table align-middle table-striped table-dark table-hover"
                  >
                    <thead>
                      <tr>
                        <th scope="col">ردیف</th>
                        <th scope="col">کد پیگیری</th>
                        <th scope="col">عنوان</th>
                        <th scope="col">متن تیکت</th>
                        <th scope="col">تاریخ</th>
                        <th scope="col">وضعیت</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for ticket in tickets %}
                          <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td><a href="{% url 'ticket:ticket-detail' ticket.slug %}">{{ ticket.tracking_code }}</a> </td>
                        <td>{{ ticket.title|truncatewords:5 }}</td>
                        <td>
                          <span
                            ><button
                              class="btn btn-light rounded-circle show-message-btn"
{#                              data-bs-toggle="modal"#}
{#                              data-bs-target="#modal-message"#}
                              id="show_content"
                              data-id="{{ ticket.id }}"
                            >
                              <img
                                src="{% static 'assets/icons/eye.svg' %}"
                                alt=""
                              /></button
                          ></span>
                        </td>
                        <td>{{ ticket.jpublish }}</td>
                        <td>
                            {% if ticket.status == 'P'  %}
                                <span>
                                    <button class="btn btn-primary response-btn" style="cursor: unset;">
                                        در حال بررسی
                                    </button>
                                </span>
                            {% else %}
                                <span>
                                    <button class="btn btn-warning response-btn" style="cursor: unset;">
                                        پاسخ داده شده
                                    </button>
                                </span>
                            {% endif %}

                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
                <!-- table of datas -->
              </div>
              {% else %}
                   <h3 class="d-flex justify-content-center align-items-center p-2 pt-4" style="border-top: 2px solid green; margin-bottom: 15px !important;">هنوز تیکتی ثبت نکرده اید!</h3>
              {% endif %}

              <!-- pagination part -->
                {% include 'Main/pagination.html' %}
              <!-- pagination part -->
            </div>
          </div>
          <!-- table part -->
        </div>
      </div>
    </section>

    <!-- modal message that fill with js -->
    {% include 'Main/content-modal.html' %}
    <!-- modal message that fill with js -->


    <!-- footer -->
    {% include 'Main/footer.html' %}
    <!-- footer -->

    <!-- bootstrap .js file -->
    <script src="{% static 'scripts/bootstrap.js' %}"></script>
    <!-- bootstrap .js file -->

    <!-- custom js file -->
    
    <!-- custom js file -->
  </body>
</html>
